{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca ECC - Catálogo de Livros</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Biblioteca ECC</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#login" onclick="abrirLoginModal()">Login</a></li>
            <li><a href="#ajuda">Ajuda</a></li>
            <li><a href="#perfil">Perfil</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% block content %} {% endblock content %}
    <footer>
      <div class="container">
        <p>&copy; Biblioteca ECC.</p>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
